{% load leaflet_tags %}

<head>
    <title>Carte de Clémence</title>
    <!-- django-leaflet specific informations-->
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- CCS style (i know, dirty way) -->
    <style>
        *{margin:6;padding:6;color:white;font-family: Helvetica, Arial, sans-serif;}
        body{text-align:center;background-color: #1A2530}
        h1{padding-bottom: 20px;padding-top: 5px;}
        p{padding-bottom: 10px;}
        #wrapper{width:880px;margin:0 auto;text-align:center;background-color:#34495E;}
        #wip{color: yellow}
        #blackTExt{color:black;}
    </style>
</head>

<body>
    <div id="wrapper">
        {% leaflet_map "mapClemence" %}
    </div>
</body>