{% load leaflet_tags %}
<html>
    <head>
        <title>Carte de Clémence</title>
        <!-- django-leaflet specific informations-->
        {% leaflet_js %}
        {% leaflet_css %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    </head>

    <body>
        <h1>Map leaflet par défaut</h1>
        {% leaflet_map "foo" %}

        <h1>GeoJSON layer view</h1>

        <script type="text/javascript">
            function main_map_init (map, options) {
                var layer = L.geoJson();
                map.addLayer(layer);
                $.getJSON("{% url 'data' %}", function (data) {
                    layer.addData(data);
                });
            }
        </script>
    </body>
</html>